<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Interface</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="/main_home.css">
  </head>
  <style>
    label{
        color: black;
    }

    #routeBtn:active{
      background-color: black;
      color: #ccc;

    }

    .navigation{
        height: 150px;
        width: 380px;
    }

    .b-t{
        background-color: #d9e5d6;
        color: black;
        border: 2px solid rgba(0, 0, 0, 0.5);
        margin: 5px;
        width:300px;
        height: 30px;
        padding: 2px;
        border-radius: 5px;
        text-align: center;
    }

    #b-t{
        margin: 0px 0px 0px 12.8px;
    }
    #date{
        margin: 5px 0px 0px 8.8px;

    }

    button{
        height: 30px;
        width: 150px;
        border-radius:5px;
        margin:10px 0px 0px 25%;
        background-color: bisque;
        color: black;
    }

    .map-container {
      border: 2px solid black;
      position: absolute;
      height: 630px;
      width: 860px;
      top:1%;
      right: 1%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 0px 0px;
    }

    #map {
      width: 100%;
      height: 100%;
      
    }

    #navigation-cnt{
        margin: 10% 0px 0px 1%;
        /* border: 2px solid black; */
        height: 26vh;
        width:82.8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: #Eddea4;
        box-shadow: 0 4px 15px #11111a;
    }
    #park{
     width: 180px;
    }

    #data-cnt{

      margin: 1% 0px 0px 1%;
      background-color: #Eddea4;
      height: 58vh;
      width: 40%;
      display:flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0 4px 15px #11111a;

    }

    .data-box{
      border-radius: 10px;
      height: 289px;
      width: 560px;
      padding: 20px;
      margin: 10px;
      /* border: 2px solid black; */
      margin: 10px 0px 0px 1%;
      background-color: #EBEBEB;
      box-shadow: 0px 4px 15px #11111a;
    }

    #to{
      margin: 0px 0px 0px 18px;
    }
    .boxes{
      border: 2px solid black;
      border-radius: 5px;
      margin: 3px;
      height:45px;
      width: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span{
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 700;
    }

    #inner {
      flex: 1;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      /* allow scroll */
      scrollbar-width: 0.5px; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      height: 410px;
    }

.trp{
  height: 145px;
  width: 570px;
  margin: 4% 0px 0px 0px;
  text-align: center;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}
.t1{
  background-color: #EBEBEB;
  height: 85px;
  width: 500px;
  margin: 15px 0px 0px 25px;
  padding: 5px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  justify-content: space-between;
  border-radius: 10px;
}
.boardings{
  width: 240px;
  height: 20px;
  /* border: 2px solid black; */
  display: flex;
  align-items: flex-start;
  margin: 0px 0px 0px 10px;
}
.arrivals{
  /* border: 2px solid black; */
  display: flex;
  align-items: flex-start;
  margin: 0px 0px ;
  width: 240px;
  height: 20px;
}
#b1{
  width: 20px;
}
.tprice{
  margin: 0px 0px 0px 10px;
}
.bookbtn{
  margin: 0px 10px;
  background-color: #ff9b42;
  border: none;
  width: 100px;
  box-shadow: 0px 4px 10px #111111;
}
.avaseats{
  margin: 0px 0px 0px 10px;
}


  </style>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div id="logo">
        <img src="/images/logo.png" alt="My Website Logo" width="105px" height="auto">
      </div>
      <div id="section">
        <ul>
          <li>
            <div>
              <a href="/home">Home</a>
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              <a href="/announce">Announcements</a>
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Service
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              About
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Contact
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div>
              Help
              <div class="bar"></div>
            </div>
          </li>
          <li>
            <div class="logout">
              <a href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>

      <div id="google_translate_element" class="multi_lang"></div>

      <div class="account">
        <i></i>
        <p></p>
    </div>
    </div>

    <!-- main containt -->

    <div id="navigation-cnt">
        <div class="navigation">
      <form action="">

        <label>From:</label>
        <input type="text" placeholder="from" id="frominput"  class="b-t" />

      <label >To:</label>
      <input type="text" placeholder="To" id="b-t"  class="b-t">

      <label>Date:</label>
      <input type="date" class="b-t" id="date">
      <button id="routeBtn" type="button" border: none; box-shadow: 0 4px 15px #11111a;">Go</button class="b-t">
      </form>
    </div>
    </div>


  <!-- linked container to main-cnt  -->

    <div id="data-cnt" class="manage">
      <div id="inner">
      
        <div class="data-box" id="boxA"> <!--box number one -->
          <span>Self Drive</span>
      <form action="">

          <label id="prk">Parking No.:</label>
          <select id="park"  class="b-t">
              <option>Parking NO.</option>
              <option>Parking NO.1</option>
              <option>Parking NO.2</option>
              <option>Parking NO.3</option>
              <option>Parking NO.4</option>
              <option>Parking NO.5</option>
              <option>Parking NO.6</option>
            </select>
             <br>
            <label for="VNP">Vehicle Registration number:</label>
          <input type="text" placeholder="eg.MHXXXXXXXX" class="b-t" required maxlength="10"/>
             <br>
          <label for="image">Driving licence image:</label>
          <input type="file" required class="b-t"/>
          <br>
          <label for="image">Vehicle image with number plate:</label>
          <input type="file" required class="b-t" />
      <button style="background-color: #ff9b42; border: none; box-shadow: 0 4px 15px #11111a;">Navigate</button class="b-t">
      </form>
    </div>

    <div class="trp">
      <% buses.forEach((bus,index) => { %>

      
      <div class="t1" aria-placeholder="Boarding">
        <div class="boardings">
          <p>Boarding From:<span id="b1"><%= bus.from %></span></p>
        </div>
        <div class="arrivals">
          <p>Arrival To:<span id="a1"><%= bus.to %> </span></p>
        </div>
        <div class="boardings">At:
          <span id="b1t"><%= bus.startTime %></span> 
        </div>
        <div class="arrivals">At: 
          <span id="a1t"></span>
        </div>
        <div class="avaseats">
          <P>Available Seats: <span id="aseat1"><%= bus.SeatsAvailable %></span></P>
        </div>
        <div class="tprice">Price:
          <span id="t1p"><%= bus.price %></span>
        </div>
        <div>
          <form method="POST" action="/book/<%= bus._id %>">
          <button type="submit"   class="bookbtn">Book Ticket</button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
    
      
  </div>
  </div>

    <div class="map-container"><div id="map">Navigation Map</div></div>



    <!-- chatbot code -->

    <div id="chatbot-btn" class="chatbot-btn">
      <i class="fas fa-robot"></i>
    </div>

    <div class="message" id="message">
      <div class="msg-box">
        <div class="chatbot"><p>welcome..!</p></div>
      </div>
      <div class="input"></div>
      <input
        type="text"
        id="search"
        placeholder="Ask freely, I am with you on this journey..."
      />
      <button id="enter">Send</button>
    </div>

    <!-- javascipt program -->

    <script src="/js/main_home.js"></script>
    <script>
      var map = L.map('map').setView([0,0],13);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
        attribution: '&copy; OpenStreetmap contributors',
        maxZoom: 18
      }).addTo(map);

      let userLatLng, userMarker, routeControl;

      //live location 

      navigator.geolocation.watchPosition(function(pos){
        userLatLng = [pos.coords.latitude,pos.coords.longitude];
        userMarker = L.marker(userLatLng).addTo(map).bindPopup("Your Location").openPopup();
        map.setView(userLatLng,13);
      });

        async function geocode(query) { //func
          const res = await fetch (`/geocode?q=${encodeURIComponent(query)}`);
          if (!res.ok) throw new Error("geocoding Failed");
          return await res.json();
        }

      async function geocodeInputs(callback) {
          const fromin = document.getElementById("frominput").value.trim();
          const fromto = document.getElementById("b-t").value.trim();

          if(!fromto) return alert("Please enter a Destination.");

          try{
            let fromLatLng,toLatLng;

            if(fromin) {
              const resultsFrom = await geocode(fromin);
              if(resultsFrom.length === 0 ) return alert("From location not found");
              fromLatLng = [resultsFrom[0].lat,resultsFrom[0].lon];

              const resultsTo = await geocode(fromto);
              if(resultsTo.length === 0 ) return alert("To location not found");
              toLatLng = [resultsTo[0].lat,resultsTo[0].lon];
            }else {
              if(!userLatLng) return alert("current location not available yet.");
              fromLatLng = userLatLng;

              const resultsTo = await geocode(fromto);
              if(resultsTo.length === 0) return alert("To Location not found");
              toLatLng = [resultsTo[0].lat,resultsTo[0].lon];
            }
            callback(fromLatLng,toLatLng);
          } catch (err) {
            console.error("Geocode error:",err);
            alert("failed to fetch location data");
          }
          
      }
        
      document.getElementById("routeBtn").addEventListener("click",function(){
        geocodeInputs(function(fromLatLng,toLatLng){
          if (routeControl) map.removeControl(routeControl);

          routeControl = L.Routing.control({
        waypoints: [L.latLng(fromLatLng), L.latLng(toLatLng)],
        routeWhileDragging: true,
        }).addTo(map);
        });
      });
        
      //Enter press
      document.getElementById("frominput").addEventListener("keypress",e => {if (e.key === "Enter") document.getElementById("routeBtn").click();});
      document.getElementById("b-t").addEventListener("keypress", e => {if (e.key === "Enter") document.getElementById("routeBtn").click();});

      // script for goole api translate 

    </script>
   <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {pageLanguage: 'en'},
        'google_translate_element'
      );
    }
  </script>
  <script type="text/javascript" 
          src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
  </script>
  </body>
</html>
